# Example environment variables for Media Nexus
# Copy this file to .env and fill with your API keys.

VITE_TMDB_API_KEY=c46941b9ab56e9346788e44c82134883
VITE_RAWG_API_KEY=78727c3afb4e453994d726f8a63cc07f
VITE_YOUTUBE_API_KEY=AIzaSyAAZNH8FrD3JEmIz0T3TCVEWGpJiCKfeKs

# Optional: set the dev server port
# VITE_PORT=5173
